body{
	font-family: '微软雅黑';
	margin: 0 auto;
	width: 100%;
	background: #f0f0f0;
}
#header{
	position: relative;
	margin:11px auto 0;
	width: 944px;
	height: 54px;
	background:url('../images/nav_bg.png') repeat;
	border: 1px solid rgb( 85, 85, 85 );
	opacity: 0.9;
	z-index: 100;
}
.nav .site-nav{
	float: left;
}
.nav .site-nav li{
	float: left;
}
.nav .site-nav li a{
	float: left;
	padding: 0 20px;
	line-height: 50px;
	font-size: 16px;
    color: rgb( 0, 0, 0 );
}
#logo-x{
	text-align: center;
	width:119px;
	height: 59px;
	border-color: rgb( 236, 155, 0 );
    background-color: rgb( 255, 168, 0 );
}
#logo-x a{
	float: left;
	margin: 9px 23px;
	width: 71px;
	height: 42px;
    background:url('../images/logo-w.png') no-repeat;
}
.search-container{
	float: left;
	margin: 12px 0  12px 5px;
	height: 31px;
	border: 1px solid rgb( 85, 85, 85 );
	background-color: rgb( 255, 255, 255 );
}
.search-container input{
	border: none;
}
.search-container .search-input{
	float: left;
	width:96px;
	margin-left: 5px;
	line-height: 30px;
	font-size: 14px;
    color: rgb( 85, 85, 85 );
}
.search-container .submit-input{
	float: left;
	margin: 7px 7px 0 14px;
	width: 18px;
	height: 18px;
	color: transparent;
	cursor: pointer;
	/*background: url('../images/search.png');	*/
	background: url('../images/icon.png') -108px -271px;
}
#main{
	margin: 0 auto;
}
#footer{
	margin: 30px auto 0px;
	width: 1000px;
	height: 90px;
}
#footer .footer-logo{
	float: left;
	margin-left: 130px;
	margin-top: 6px;
	width: 82px;
	height: 50px;
	background: url('../images/icon.png') -3px -246px;
}
.footer-msg{
	float: left;
	margin-left: 30px;
	width: 515px;
	text-align: center;
	font-size: 12px;
	color: #000000;
	line-height: 24px;
}
.footer-links{
	float: left;
	margin-left: 70px;
	width: 60px;
}
.footer-links a{
	float: left;
	color: #000000;
	width: 60px;
	line-height: 24px;
	font-size: 12px;
}
.footer-links a:hover{
	text-decoration: underline;
}



