
/*Common CSS*/

body{
	font-family: '微软雅黑';
    font-size: 14px;
	margin: 0 auto;
	width: 100%;
	background: #f0f0f0;
}
#header{
	position: relative;
	margin:11px auto 0;
	width: 944px;
	height: 54px;
	background:url('../images/nav_bg.png') repeat;
	border: 1px solid rgb( 85, 85, 85 );
	opacity: 0.9;
	z-index: 100;
}
.nav .site-nav{
	float: left;
}
.nav .site-nav li{
	float: left;
}
.nav .site-nav li a{
	float: left;
	padding: 0 20px;
	line-height: 50px;
	font-size: 16px;
    color: rgb( 0, 0, 0 );
}
#logo-x{
	text-align: center;
	width:119px;
	height: 59px;
	border-color: rgb( 236, 155, 0 );
    background-color: rgb( 255, 168, 0 );
}
#logo-x a{
	float: left;
	margin: 9px 23px;
	width: 71px;
	height: 42px;
    background:url('../images/logo-w.png') no-repeat;
}
.search-container{
	float: left;
	margin: 12px 0  12px 5px;
	height: 31px;
	border: 1px solid rgb( 85, 85, 85 );
	background-color: rgb( 255, 255, 255 );
}
.search-container input{
	border: none;
}
.search-container .search-input{
	float: left;
	width:96px;
	margin: 9px 0 0 5px;
	line-height: 14px;
	font-size: 14px;
    color: rgb( 85, 85, 85 );
}
.search-container .submit-input{
	float: left;
	margin: 7px 7px 0 14px;
	width: 18px;
	height: 18px;
	color: transparent;
	cursor: pointer;
	background: url('../images/icon.png') -108px -271px;
}
.upload{
    position:absolute;
    width:550px;
    height:330px;
    top:120px;
    left:50%;
    margin-left:-275px;
    background: white;
    border-top:6px solid rgb(255, 168, 0);
    border-radius: 1px;
    box-shadow: 1px 1px 1px gray;
    z-index: 10;
}
.close{
    position: absolute;
    top:-6px;
    right:0;
    width:25px;
    height:25px;
    background: url(../images/upload.png) -433px -9px;
    cursor:pointer;
}
.upload-box{
    width:510px;
    height:250px;
    margin:0 20px;
}
.music-box{
    position: relative;
    top:12px;
    width:180px;
    height:180px;
    margin:40px 30px;
    text-align: center;
    background: red;
    display: inline-block;
    cursor:pointer;
}
.music-bg{
    background:url(../images/upload.png) 18px -48px no-repeat;
}
.thumb-box{
    background:url(../images/upload.png) -226px -48px no-repeat;
}
.up-text{
    position: absolute;
    top:135px;
    left:25px;
    font-size: 33px;
}
.up-form{
    font-size: 18px;
    line-height: 18px;
    text-align: center;
}
.up-form input,select{
    font-size: 18px;
    line-height: 18px;
}
.up-name{
    width:190px;
    padding: 3px 0 0 5px;
}
.up-songer{
    width:150px;
    padding:3px 0 0 5px;
}
.up-category{
    width:140px;
    padding: 3px 0 0 5px;
}
.up-btn{
    width:70px;
    font-size: 20px;
    margin-top: 12px;
    border-width: 0;
    border-radius: 2px;
    background: rgb(255, 168, 0);
    cursor: pointer;
}
.up-file{
    width:180px;
    height:180px;
    cursor: pointer;
    opacity: 0;
}



/*Main CSS*/

#main{
	margin: 0 auto;
}
.banner{
	position: relative;
	width: 100%;
	margin: -66px auto 0;
	background-position: 0% 0%, 100% 0%, 0 0;
	background-repeat: no-repeat, no-repeat, no-repeat;
	background-position-y:30%;
}
.home-bg{
	height: 500px;
	background-image: url(../images/background.jpg);
}
.bg{
	height:314px;
	background: url(../images/rank.jpg) no-repeat;
}
.banner .banner-msg{
	position: absolute;
	left: 24%;
	top: 190px;
	width: 580px;
	height: 190px;
	background: url(../images/banner-msg.png) no-repeat;
    cursor:pointer;
}
.banner .banner-pause{
    background:url(../images/banner-pause.png) no-repeat;
    cursor:pointer;
}
.main-container{
	position: relative;
	margin: -32px auto 0;
	width: 1000px;
	min-height: 468px;
	background-color: #ffffff;
}
.clearfloat{
    clear:both;
}
.left-container{
	float: left;
	margin: 32px 0 10px 50px;
	width: 622px;
}
.left-container .headline{
	float: left;
	width: 620px;
}
.left-container .music-title{
	float: left;
	width: 102px;
	height: 25px;
	background: url('../images/icon.png') -144px -270px;
}
.more{
	line-height: 28px;
	font-size: 16px;
	color: rgb( 255, 168, 0 );
	font-weight: bold;
}
.rotating-content-container{
	float: left;
	width: 620px;
}
.rotating-content{
	float: left;
	width: 620px;
}
.new-music{
	float: left;
	width: 178px;
	padding: 14px 22px 11px 0;
    cursor:pointer;
}
.new-music img{
	float: left;
	max-width: 178px;
	max-height: 100px;
}
.ellipsis{
	overflow: hidden;
	text-overflow:ellipsis;
	white-space: nowrap;
	word-break:keep-all;
}
.music-info{
	float: left;
	width: 178px;
	padding-top: 8px;
	line-height: 24px;
	font-size: 18px;
}
.music-singer{
	color: #555555;
}
.music-comment{
	float: left;
    width: 178px;
	height: 40px;
    padding-left: 5px;
	font-size: 14px;
	color: rgb( 170, 170, 170 );
    overflow: hidden;
    text-overflow:ellipsis;
}
.right-container{
	float: left;
	margin-top: 32px;
	width: 328px;
}
.right-container .headline{
	float: left;
	padding-bottom: 5px;
	width: 328px;
}
.right-container .music-title{
	float: left;
	width: 124px;
	height: 25px;
	background: url('../images/icon.png') -264px -269px;
}
.music-top-container,.song-list,.song-list-l{
	float: left;
	width: 328px;
}
.song-list-l{
	padding-top: 10px;
}
.song-list-l img{
	float: left;
	max-width: 50px;
	max-height: 50px;
}
.song-list-content{
    width:350px;
    height: 60px;
}
.first-song{
    font-size: 22px !important;
}
.first img{
    max-width: 70px;
    max-height: 70px;
}
.song-list-info,.song-list-num,.fun-icon{
	float: left;
	width: 265px;
	margin-left: 12px;
}
.song-list-info{
	font-size: 16px;
	line-height: 24px;
}
.song-list-info .num{
	color: #ffa800;
}
.song-list-num{
	color: #aaaaaa;
	font-size: 14px;
	line-height: 24px;
}
.song-list-num .find{
	margin-left: 11px;
}
.fun-icon{
	padding-top: 5px;
}
.icon{
	float: left;
	width: 18px;
	height: 18px;
	margin-left: 12px;
	cursor: pointer;
}
.icon-play{
	margin-left: 0px;
	background: url('../images/icon.png') -263px -229px;
}
.icon-pause{
    background: url('../images/icon.png') -263px -209px;
}
.icon-plus{
	background: url('../images/icon.png') -293px -230px;
}
.icon-love{
	background: url('../images/icon.png') -321px -230px;
}
.icon-download{
	background: url('../images/icon.png') -353px -230px;
}
.first>.song-list-info,.first>.song-list-num,.first>.fun-icon{
	width: 245px;
}
.first .song-list-info{
	font-size: 18px;
}

/*Search CSS*/

.search{
    position:relative;
    margin:-180px auto 0 auto;
    width:370px;
    height:40px;
    border-top:7px;
    border-bottom:7px;
    border-left:12px;
    border-right:12px;
    border-style:solid;
    border-color:rgb(177, 177, 179);
    opacity: 0.7;
}
.search .search-input{
    width:96%;
    height:100%;
    padding:0 2%;
    border:0;
    font-size: 20px;
}
.search .search-icon{
    position:relative;
    width:18px;
    height:18px;
    top:-28px;
    left:343px;
    border:0;
    background:url('../images/icon.png') -108px -271px;
    cursor: pointer;
}
.container{
    position:relative;
    width:1020px;
    margin:100px auto 0 auto;
}
.content{
    float:left;
    width:920px;
    margin: 0 0 30px -50px;
    padding:30px 40px 15px 60px;
    background: white;
}
.search-result{
    font-size: 20px;
    margin-bottom: 20px;
}
.music-pic{
    float:left;
    width:200px;
    height:150px;
    margin:0 30px 40px 0;
}
.music-li-four{
    margin-right:0;
}
.music-pic img{
    width:200px;
    height:120px;
}
.music-pic p{
    margin-bottom:10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.music-color{
    color:rgb(255, 145, 0);
}

/*Rank CSS*/

.container{
    position:relative;
    width:920px;
    /*margin:-185px auto 0 auto;*/
    /*padding:40px 50px 20px 50px;*/
    background: white;
}
.rank-con{
    margin:-185px auto 0 auto;
    padding:40px 50px 20px 50px;
}
.title{
    width:100%;
    height:40px;
    font-size: 20px;
    font-weight:600;
}
.rankhide{
    display:none;
}
.title li{
    float: left;
    width:200px;
    padding-bottom:10px;
    border-bottom: 3px solid rgb(148, 144, 144);
    color:rgb(148, 144, 144);
    cursor: pointer;
}
.title .title-color{
    color:rgb(94, 86, 86);
    border-color:rgb(255, 145, 0);
}
.list{
    width:920px;
    margin:15px 0;
    table-layout: fixed;
    font-size: 17px;
}
.list tr{
    border-left: 5px solid white;
}
.list tr:nth-child(odd){
    background: rgb(242, 242, 242);
    border-left-color:rgb(242, 242, 242);
}
.list tr:hover{
    border-left-color:rgb(21, 221, 46);
}
.playing{
    border-left-color:rgb(21, 221, 46) !important;
}
.list tr td{
    padding:5px 0;
}
::selection{
    color:white;
}
::-moz-selection{
    color:white;
}
.list-two{
    margin: 20px 0 0 0;
}
.song-no{
    width:30px;
    text-align: center;
    color:rgb(255, 145, 0);
}
.song-name{
    width:280px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color:rgb(255, 145, 0);
}
.songer{
    width:180px;
    color:rgb(50, 42, 42);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.song-play{
    width:140px;
    color:rgb(148, 144, 144);
}
.song-seach{
    width:140px;
    color:rgb(148, 144, 144);
}
.song-ctrl{
    width:140px;
}
.td-nowrap{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


/*Common CSS*/

#footer{
	margin: 30px auto 0px;
	width: 1000px;
	height: 90px;
}
#footer .footer-logo{
	float: left;
	margin-left: 130px;
	margin-top: 6px;
	width: 82px;
	height: 50px;
	background: url('../images/icon.png') -3px -246px;
}
.footer-msg{
	float: left;
	margin-left: 30px;
	width: 515px;
	text-align: center;
	font-size: 12px;
	color: #000000;
	line-height: 24px;
}
.footer-links{
	float: left;
	margin-left: 70px;
	width: 60px;
}
.footer-links a{
	float: left;
	color: #000000;
	width: 60px;
	line-height: 24px;
	font-size: 12px;
}
.footer-links a:hover{
	text-decoration: underline;
}

/*Talk CSS*/


.talk-container{
    position:relative;
    width:1020px;
    margin:-180px auto 0 auto;
}
.talk-content{
    float:left;
    width:920px;
    margin-bottom: 30px;
    padding:30px 50px 15px 50px;
    background: white;
}
.emotion{
    font-size: 20px;
    margin-bottom: 20px;
}
.box-left{
    float:left;
    width:590px;
    /*text-align: center;*/
}
.talk-music-pic{
    float:left;
    width:170px;
    height:135px;
    margin:0 26px 40px 0;
}
.talk-music-pic img{
    width:170px;
    height:100px;
}
.talk-music-pic p{
    margin-bottom:10px;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.music-name{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color:rgb(255, 145, 0);
}
.paging{
    float:left;
    width:100%;
    height:30px;
    text-align:center;
}
.paging span{
    margin:0 5px;
    cursor: pointer;
}
.paging .numactive{
    color:red;
}
.box-right{
    float:left;
    width:270px;
    margin-left:60px;
}
.pic-hot{
    margin-bottom:30px;
    cursor:pointer;
}
.pic-hot img{
    width:120px;
    height:100px;
    margin:0;
}
.hot-song {
    float:right;
    width:130px;
    margin-left:20px;
    margin-top: 10px;
}
.hot-number{
    margin-top: 10px;
}

/*Play CSS*/

.player-wrapper{
	position: relative;
	width: 540px;
	margin: 0 auto;
}
#player{
	position: absolute;
	margin: 135px auto 0;
	width: 540px;
	height: 253px;
	background-color: rgb( 255, 255, 255);
    box-shadow: 0px 2px 8px 0px rgb( 10, 10, 10 );
    opacity: 0.8;
    filter:alpha(opacity=80);
}
.album-img{
	float: left;
	width: 250px;
	height: 246px;
}
.album-img img{
	max-width: 250px;
	max-height: 246px;
}
.album-info{
	float: left;
	width:252px;
	margin: 0 10px 0 28px;
}
.album-info p{
	white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.music-name{
	margin-top: 20px;
	font-size: 18px;
	color: #ffa800;
}
.music-singer{
	margin-top: 10px;
	font-size: 16px;
	color: #555555;
}
.album-name{
	line-height: 32px;
	font-size:16px;
	color: #888888;
}
.play-siderbar{
	float: left;
	margin-top: 5px;
	margin-left: 28px;
	width: 260px;
}
.up-func-btn li{
    cursor: pointer;
}
.bot-func-btn{
    cursor: pointer;
}
.up-func-btn,.bot-func-btn{
	float: left;
	width: 260px;
}
.up-func-btn .comment-btn{
	float: left;
	width: 26px;
	height: 24px;
	background: url('../images/icon-play.png') -10px -11px;
}
.up-func-btn .love-btn{
	float: left;
	margin-left: 16px;
	width: 23px;
	height: 20px;
	background: url('../images/icon-play.png') -50px -11px;
}
.up-func-btn .empty-btn{
	float: left;
	margin-left: 17px;
	width: 19px;
	height: 20px;
	background: url('../images/icon-play.png') -90px -11px;
}
.up-func-btn .skip-btn{
	float: left;
	margin-left: 18px;
	width: 21px;
	height: 20px;
	background: url('../images/icon-play.png') -127px -11px;
}
.play-siderbar ul li{
	float: left;
	/*cursor: pointer;*/
}
.bot-func-btn .pause-btn{
	margin-top: 15px;
	width: 70px;
	height: 70px;
    background: url('../images/icon-play.png') -339px 0px;
}
.bot-func-btn .play-btn {
    background: url('../images/icon-play.png') 0px -37px;
}
.bot-func-btn .ctrl-btn{
	margin-left: 20px;
	width: 150px;
}
.ctrl-btn a{
	float: left;
	margin-top: 40px;
	width: 23px;
	height: 22px;
	background: url('../images/icon-play.png') -249px -6px;
}
.ctrl-btn .sound{
    background: url('../images/icon-play.png') -208px -172px;
}
#voice{
    margin:48px 0 0 10px;
    width:100px;
    cursor: pointer;
}
a{
    cursor: pointer;
}
input[type='range'] {
    -webkit-appearance: none;
    -ms-appearance: none;
    background-color:rgb(200, 195, 195);
    height: 8px;
    border-radius: 15px;
    outline: none;
}

input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 12px;
    width: 12px;
    background: gray;
    border-radius: 100%;
    border: none;
}
input.range::-webkit-slider-thumb {
    height: 18px;
    width: 18px;
}

input[type='range']::-moz-range-track {
    height: 8px;
    background: rgb(200, 195, 195);
    border-radius: 15px;
    border: none;
}

input[type='range']::-moz-range-thumb {
    height: 12px;
    width: 12px;
    background: gray;
    border: none;
    border-radius: 100%;
}

input.range::-webkit-slider-thumb {
    height: 18px;
    width: 18px;
}

input.range::-moz-range-thumb {
    height: 18px;
    width: 18px;
}
input.range::-ms-range-thumb {
    height: 18px;
    width: 18px;
}

.ctrl-btn .slider-btn{
	float: left;
	margin-left: 5px;
	margin-top: 50px;
	width: 50px;
	height: 5px;
	background: url('../images/icon-play.png') -162px -16px;
}
.play-progress{
	float: left;
	width: 539px;
	height: 5px;
	border: 1px solid rgb( 170, 170, 170 );
	background-color: rgb( 255, 255, 255 );
}
.play-progress .play-load{
	float: left;
	height: 5px;
	background-color: rgb( 255, 144, 0 );
}
.channel{
	position: relative;
	margin: -32px auto 45px;
	background-color: rgb( 255, 255, 255 );
	width: 1000px;
	height: 252px;
}
.channel-head{
	float: left;
	margin: 32px 0 0 32px;
	width: 1000px;
}
.channel-head .channel-logo{
	float: left;
	width: 32px;
	height: 29px;
	background: url('../images/icon-play.png') -286px -4px;
}
.channel-head .channel-title{
	float: left;
	margin-left: 10px;
	width: 46px;
	height: 30px;
	background: url('../images/icon-play.png') -51px -110px;
}
.channel-list{
	float: left;
	margin-left: 32px;
	margin-bottom: 50px;
	width: 1000px;
}
.channel-list li{
    cursor:pointer;
}
.channel-list-l{
	float: left;
	margin-top: 25px;
	width: 200px;
}
.channel-list-l .tip-mask{
	float: left;
	width: 45px;
	height: 45px;
}
.children{
	background: url('../images/icon-play.png') -93px -44px;
}
.qingxin{
	background: url('../images/icon-play.png') -158px -44px;
}
.classic{
	background: url('../images/icon-play.png') -224px -44px;
}
.huayu{
	background: url('../images/icon-play.png') -1px -118px;
}
.oumei{
	background: url('../images/icon-play.png') -104px -110px;
}
.yuansheng{
	background:url('../images/icon-play.png') -161px -107px;
}
.yueyu{
	background: url('../images/icon-play.png') -224px -105px;
}
.riyu{
	background: url('../images/icon-play.png') -286px -106px;
}
.hanyu{
	background: url('../images/icon-play.png') -53px -147px;
}
.channel-list-l .channel-msg{
	float: left;
	margin-left: 10px;
	width: 85px;
}
.channel-name{
	line-height: 24px;
	font-size:14px;
	color:#000000;
}
.channel-count{
	font-size: 12px;
	color: #7e7e7e;
}

/*comment-dialog*/
.dialog-wrapper{
	position: relative;
}
.dialog-outer{
	position: fixed;
	top:0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 9999;
	zoom:1;
}
.dialog{
	position: fixed;
	top:36%;
	left: 50%;
	z-index: 10000;
	margin: 0 auto;
	width:400px;
	height:190px;
	zoom:1;
	overflow: hidden;
	margin-left: -200px;
}
.dialog .content{
	margin: 0 auto;
	width:400px;
	height:190px;
	border-top:3px solid rgb( 255, 168, 0 );
	border-radius:3px;
	background-color: rgb( 255, 255, 255 );
    opacity: 0.902;
    box-shadow: 0px 2px 5px 0px rgb( 10, 10, 10 );
}
.dialog .header{
	float: left;
	width: 400px;
}
.header .close{
	float: left;
	cursor: pointer;
	margin-left: 375px;
	width: 25px;
	height: 25px;
	background: url('../images/icon-play.png') -9px -171px;
}
.dialog .body{
	float: left;
	width: 400px;
}
.body textarea{
	float: left;
	margin: 7px 8px 10px;
	width: 382px;
	height: 111px;
	border-radius: 3px;
	background-color: rgb( 249, 249, 249 );
	text-indent: 0.5em;
	font-size: 14px;
	line-height: 30px;
    color: rgb( 162, 162, 162 );
    text-align: left;
}
.dialog .footer{
	float: left;
	width: 400px;
}
.footer .comment{
	margin: 0 auto;
	width: 85px;
    height: 31px;
    cursor: pointer;
    background: url('../images/icon-play.png') -109px -170px;
}