.banner{
    position:relative;
    width: 100%;
    height:314px;
    margin: -66px auto 0;
    background: url(../images/rank.jpg) no-repeat;
}
.container{
    position:relative;
    width:1020px;
    margin:-180px auto 0 auto;
}
.content{
    float:left;
    width:920px;
    padding:30px 50px 15px 50px;
    background: white;
}
.emotion{
    font-size: 20px;
    margin-bottom: 20px;
}
.box-left{
    float:left;
    width:590px;
}
.music-pic{
    float:left;
    width:170px;
    height:135px;
    margin:0 40px 40px 0;
}
.music-li-three{
    margin-right:0;
}
.music-pic img{
    width:170px;
    height:100px;
}
.music-pic p{
    /*font-size: 13px;*/
    margin:-bottom:10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.music-name{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color:rgb(255, 145, 0);
}
.paging{
    float:left;
    height:30px;
    cursor: pointer;
}
.box-right{
    float:right;
    width:250px;
    margin-left:50px;
}
.music-hot{
    float:left;
    /*width:250px;*/
    /*margin-left: 20px;*/
}
.pic-hot{
    width:250px;
    margin-bottom:30px;
}
.pic-hot img{
    width:100px;
    height:100px;
    margin:0;
}
.hot-song {
    float:right;
    width:130px;
    margin-left:20px;
    margin-top: 29px;
}
.hot-number{
    margin-top: 10px;
}
.icon{
    float: left;
    width: 18px;
    height: 18px;
    margin-left: 12px;
    margin-top:6px;
    cursor: pointer;
}
.icon-play{
    background: url('../images/icon.png') -263px -229px;
    margin-left: 0;
}
.icon-plus{
    background: url('../images/icon.png') -293px -230px;
}
.icon-love{
    background: url('../images/icon.png') -321px -230px;
}
.icon-download{
    background: url('../images/icon.png') -353px -230px;
}
