    <div id="main" ng-controller="RankCtrl">
        <div class="banner bg"></div>
        <div class="container rank-con">
            <div>
                <ul class="title">
                    <li>工大风云榜中榜</li>
                    <li class="title-color">扒歌音乐榜中榜</li>
                </ul>

                <table class="list">
                    <tr ng-repeat="music in categoryRank">
                        <td class="song-no">{{music.id}}</td>
                        <td class="song-name">{{music.name}}</td>
                        <td class="songer">{{music.songer}}</td>
                        <td class="song-play">播放{{music.playTimes}}次</td>
                        <td class="song-seach">扒歌{{music.searchTimes}}次</td>
                        <td class="song-ctrl">
                            <span class="icon icon-play" ng-click="play(music)"></span>
                            <span class="icon icon-plus"></span>
                            <span class="icon icon-love"></span>
                            <span class="icon icon-download"></span>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="list-two">
                <ul class="title">
                    <li>华语风云榜</li>
                    <li class="title-color">欧美风云榜</li>
                    <li class="title-color">日韩风云榜</li>
                </ul>

                <table class="list">
                    <tr ng-repeat="music in categoryRank">
                        <td class="song-no">{{music.id}}</td>
                        <td class="song-name">{{music.name}}</td>
                        <td class="songer">{{music.songer}}</td>
                        <td class="song-play">播放{{music.playTimes}}次</td>
                        <td class="song-seach">扒歌{{music.searchTimes}}次</td>
                        <td class="song-ctrl">
                            <span class="icon icon-play" ng-click="play(music)"></span>
                            <span class="icon icon-plus"></span>
                            <span class="icon icon-love"></span>
                            <span class="icon icon-download"></span>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>