<div id="main" ng-controller="SearchCtrl">
    <div class="banner bg"></div>
    <form class="search" ng-submit="">
        <input class="search-input" type="text" ng-model="music.name" placeholder="在结果中查找">
        <!-- <button class="search-icon" type="submit"></button> -->
    </form>

    <div class="container">
        <div class="content">
            <p class="search-result">搜索结果</p>
            <p class="search-no" ng-hide="result">小伙伴，你要找的歌我没听过啊，，，</p>
            <ul>
                <li class="music-pic" ng-repeat="music in musicResult |
                    offset: currentPage*itemsPerPage |
                    limitTo: itemsPerPage |
                    filter: music.name">
                    <img ng-src="{{music.img}}" width="200" height="120">
                    <p class="music-color">{{music.name}}-{{music.singer}}</p>
                    <div>
                        <span class="icon icon-play" ng-class="{'icon-pause':musicPlay.state && music.id == musicPlay.music.id}" ng-click="musicPlay.nextPlay(music)"></span>
                        <span class="icon icon-plus"></span>
                        <span class="icon icon-love"></span>
                        <span class="icon icon-download"><a href="{{music.url}}"></a></span>
                    </div>
                </li>
            </ul>
            <div class="paging" ng-show="result">
                <pagination currentPage="0" itemsPerPage="8" itemsList="musicResult" pageList="3"></pagination>
            </div>
        </div>

    </div>
</div>